[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataAudit"]
	path = DataAudit
	url = https://github.com/vinodhpmd/dataaudit
[submodule "EDAForge"]
	path = EDAForge
	url = https://github.com/vinodhpmd/edaforge
[submodule "EpiLossR"]
	path = EpiLossR
	url = https://github.com/vinodhpmd/epilossr
[submodule "ExpDesignR"]
	path = ExpDesignR
	url = https://github.com/vinodhpmd/expdesignr
[submodule "OutbreakR"]
	path = OutbreakR
	url = https://github.com/cran/OutbreakR
[submodule "PropTestR"]
	path = PropTestR
	url = https://github.com/vinodhpmd/proptestr
[submodule "SampleSizeR"]
	path = SampleSizeR
	url = https://github.com/vinodhpmd/samplesizer
[submodule "inferstat"]
	path = inferstat
	url = https://github.com/cran/inferstat
