[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataAudit"]
	path = DataAudit
	url = https://github.com/vinodhpmd/dataaudit
[submodule "OutbreakR"]
	path = OutbreakR
	url = https://github.com/cran/OutbreakR
[submodule "SampleSizeR"]
	path = SampleSizeR
	url = https://github.com/vinodhpmd/samplesizer
[submodule "inferstat"]
	path = inferstat
	url = https://github.com/cran/inferstat
