[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AMRsurveilR"]
	path = AMRsurveilR
	url = https://github.com/vinodhpmd/amrsurveilr
[submodule "AutoEDA"]
	path = AutoEDA
	url = https://github.com/vinodhpmd/autoeda
[submodule "AutoViz"]
	path = AutoViz
	url = https://github.com/vinodhpmd/autoviz
[submodule "BioMixModel"]
	path = BioMixModel
	url = https://github.com/vinodhpmd/biomixmodel
[submodule "CausalLoopAnalytics"]
	path = CausalLoopAnalytics
	url = https://github.com/vinodhpmd/causalloopanalytics
[submodule "DataAudit"]
	path = DataAudit
	url = https://github.com/vinodhpmd/dataaudit
[submodule "EDAForge"]
	path = EDAForge
	url = https://github.com/vinodhpmd/edaforge
[submodule "EconEvalR"]
	path = EconEvalR
	url = https://github.com/vinodhpmd/econevalr
[submodule "EpiLossR"]
	path = EpiLossR
	url = https://github.com/vinodhpmd/epilossr
[submodule "EpiQuestionR"]
	path = EpiQuestionR
	url = https://github.com/vinodhpmd/epiquestionr
[submodule "ExpDesignR"]
	path = ExpDesignR
	url = https://github.com/vinodhpmd/expdesignr
[submodule "OutbreakR"]
	path = OutbreakR
	url = https://github.com/cran/OutbreakR
[submodule "ProMetaR"]
	path = ProMetaR
	url = https://github.com/vinodhpmd/prometar
[submodule "PropTestR"]
	path = PropTestR
	url = https://github.com/vinodhpmd/proptestr
[submodule "SampleSizeR"]
	path = SampleSizeR
	url = https://github.com/vinodhpmd/samplesizer
[submodule "TrialFlowR"]
	path = TrialFlowR
	url = https://github.com/vinodhpmd/trialflowr
[submodule "ZooRisk"]
	path = ZooRisk
	url = https://github.com/vinodhpmd/zoorisk
[submodule "inferstat"]
	path = inferstat
	url = https://github.com/cran/inferstat
